h1 {
  font-family: 'Lemon', cursive;
  font-size: 60px;
  text-align: center;
}

h2 {
  font-family: 'Unkempt', cursive;
  font-size: 32px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #f5f7f8;
}
h3 {
  font-family: 'Unkempt', cursive;
  font-size: 24px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
}
p {
  font-family: 'Lemon', cursive;
}

ul,
li,
a {
  font-family: 'Unkempt', cursive;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
html {
  background-color: #ff7900;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid rgba(0, 0, 0, 0);
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #f5f7f8;
  text-shadow: 3px 3px 1px black;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

table {
  border: 2px solid rgb(255, 255, 255);
}

em {
  color: rebeccapurple;
}
th,
td {
  border: 1px solid rgb(255, 255, 255);
}

.row-even {
  background-color: rgb(227, 143, 217);
}
.row-odd {
  background-color: rgb(183, 121, 212);
}

#oneID {
  color: rgb(255, 64, 207);
}
